@font-face {
  font-family: 'Oswald';
  src: url('../../src/assets/styles/fonts/Oswald/Oswald-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'Roboto';
  src: url('../../src/assets/styles/fonts/Roboto/Roboto-Light.ttf');
}