$gray-100: #f0f0f0;
$gray-200: #f4f4f4;
$gray-300: #dee2e6;
$gray-400: #c5c5c5;
$gray-500: #747474;
$gray-600: #5d5d5d;
$gray-700: #353535;
$gray-800: #333;
$gray-900: #212121;

$orange: #ce9204;

$primary: $gray-500;
